<ul class="list-group" style="margin-bottom: 120px;">
    <li ng-repeat="sportler in vm.sportler" class="list-group-item" ng-class="{'list-group-item-success' : sportler.aktiv}"
    ng-click="vm.toggleSportlerSelected(sportler, $event)">
        <div class="checkbox pull-right">
            <label>
                <input type="checkbox" ng-model="sportler.selected" ng-click="$event.stopPropagation()">
            </label>
        </div>
        {{sportler.name}}
    </li>
</ul>
<button ng-click="vm.openAddDialog()" class="fab btn btn-default"> <i class="mdi mdi-account-plus"></i></button>
<div ng-click="vm.closeAddDialog()" ng-show="vm.showAddSportler" style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 0;">
    <div class="new-person" ng-show="vm.showAddSportler" style="z-index: 100;">
        <input type="text" ng-model="vm.neuerSportler" class="form-control" focus-on="vm.showAddSportler" prevent-default>
        <button class="fab btn btn-default" ng-click="vm.addSportler()" type="submit"> <i class="mdi mdi-check"></i></button>
    </div>
</div>
<button ng-click="vm.activateSportler()" class="fab fab2 btn btn-default" ng-show="vm.showActions()"><i class="mdi mdi-timer"></i></button>
<button ng-click="vm.deleteSportler()" class="fab fab3 btn btn-default" ng-show="vm.showActions()"><i class="mdi mdi-delete"></i></button>
